AvaliadorExpressoes/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>