AvaliadorExpressoes/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49755/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49755/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SumValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SumValue" />
  </wsdl:message>
  <wsdl:message name="IService1_SumValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubtractValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SubtractValue" />
  </wsdl:message>
  <wsdl:message name="IService1_SubtractValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiValue_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiValue" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DivValue_InputMessage">
    <wsdl:part name="parameters" element="tns:DivValue" />
  </wsdl:message>
  <wsdl:message name="IService1_DivValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SumValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumValue" message="tns:IService1_SumValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumValueResponse" message="tns:IService1_SumValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubtractValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubtractValue" message="tns:IService1_SubtractValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubtractValueResponse" message="tns:IService1_SubtractValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MultiValue" message="tns:IService1_MultiValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiValueResponse" message="tns:IService1_MultiValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DivValue" message="tns:IService1_DivValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DivValueResponse" message="tns:IService1_DivValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumValue">
      <soap:operation soapAction="http://tempuri.org/IService1/SumValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractValue">
      <soap:operation soapAction="http://tempuri.org/IService1/SubtractValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiValue">
      <soap:operation soapAction="http://tempuri.org/IService1/MultiValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivValue">
      <soap:operation soapAction="http://tempuri.org/IService1/DivValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49755/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>